/*  ========== parte geral ==========*/
body{
    height: 100vh;
    width: 100vw;
}
.container-fluid{
    text-align: center;
    height: 100vh;
    width: 100vw;
}
.row{
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}


/* ========== parte do livro, pergunta e estrelas ==========*/

#content-book{
    padding: 0 50px;
}

#text-tutor{
    font-family: Londrina Solid;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 42px;
    
    letter-spacing: 1px;

    color: #000000;

    margin-top: 20px;
}

#content-stars{
    margin-top: 20px;
}
.stars{
    padding: 0; 
    height: 37px; 
    width: 37px; 
    border: none; 
    background-color: #fff;
}


/* ========== parte dos botões ==========*/
#content-buttons{
    margin-top: 25%;
}

.buttons{
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: -0.25px;

    border:none!important;

    height: 40px;
    width: 130px;
    margin: 5px;
}
#button-pular{
    color: #2CC6D0;
    background-color: #fff!important;
    
}
#button-confirmar{
    color: #fff;
    background-color: #C8C8C8!important;
    border-radius: 100px;
    box-shadow: -4px 12px 25px -10px rgba(0, 0, 0, 0.5);
}
